html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 163));
  min-height: 100%;
}

.temperature-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-msg {
  background-color: brown;
  text-align: center;
}

.unit-toggler {
  display: flex;
  align-items: flex-end;
}

.switch-btn {
  background-color: aliceblue;
  cursor: pointer;
}

.switch-active {
  background-color: aqua;
}
